body
{
	font-family: 'Open Sans', sans-serif;
}
.box h1,h2,h3,h4,h5,h6
{
	margin-top:0;
	color:#00D4A2;
	text-align: center;
	font-weight: thin;
	border-bottom: solid #00D4A2;
	margin-left: 5%;
	margin-right: 5%;
	text-shadow: 1px 1px 15px #000000;
}
.box p
{
	margin-top:-1%;
	color:gold;
	text-align: center;
	font-weight: thin;
	margin-left: 5%;
	margin-right: 5%;
	font-size:1.2em;
	font-style:thick;
	text-shadow: 1px 1px 15px #000000;
}
.rCade-header
{
	text-align: center;

}
#top-section
{
	background-color: rgba(255,255,255,.3);
}
#page-wrapper
{
	margin: 0 auto;
	height:100%;
	background-image: url("../img/arcade-blurry-gold.png");
	background-size: cover;
}
#animated-logo
{	
	font-family: 'Orbitron';
	visibility: none;
	font-size: 3em;
	text-align: center;
	padding-left: 0;
	margin-bottom: 1%;
	border-bottom:solid #00D4A2;
}
#animated-logo li
{
	display:inline-block;
	margin, padding: 0;
	color:#00D4A2;
	text-shadow: 1px 1px 25px #000000;
}
#animated-logo li#coin 
{
	color:white;
	opacity: 0;
	position: relative;
	top:5px;
	left: 0;
	font-size: 1.5em;
	transition: color 2s linear;
    -webkit-transition: color 2s linear;
    -moz-transition: color 2s linear;
}
.box
{
	background-color: rgba(255,255,255,.3);
	border: solid #00D4A2;
	border-radius:4px;
}
#info
{
	width:80%;
	height:70%;
	margin: auto auto;
}
.circle-info 
{
	margin-left: 8%;
	height:50%;
	position: relative;
	z-index: 30;
}
.circle-info img
{	
	height:100%;
	margin-right:8%;
	display:inline-block;
	position: relative;
	z-index: 30;
	opacity: .9;
}
.circle-info img.ticket
{

	position: relative;
	top:50%;
	left:50%;
	height:10%;
	margin-bottom: 8%;
	z-index: 30;
}
#ticket-holder
{
	width:100%;
	height:25%;
	position:absolute;
	top:40%;
	left:10%;
	z-index: 20;
}
#circle3-wrapper
{
	display:inline-block;
}
#money-animation-holder
{
	width:100%;
	height:80%;
	z-index:50;
}
/*
rCade
r - #ff7cf4
C - #FFD700
a - #ff616f
d - #6ed0ff
e - #06ff81

*/
