body
{
	font-family: 'Exo', sans-serif;
}
p
{
	margin-top:0;
	color:white;
}
.rCade-header
{
	text-align: center;

}
#page-wrapper
{
	margin: 0 auto;
	height:100%;
	background-image: url("../img/arcade-blurry-gold.png");
	background-size: cover;
}
#animated-logo
{	
	font-family: 'Orbitron';
	visibility: none;
	font-size: 3em;
	text-align: center;
	padding-left: 0;
	margin-bottom: 1%;
	border-bottom:solid silver;
}
#animated-logo li
{
	display:inline-block;
	margin, padding: 0;
	color:silver;
}
#coin 
{
	opacity: 0;
	position: relative;
	top:2em;
	left: 0;
	font-size: 1.5em;
	transition: color 2s linear;
    -webkit-transition: color 2s linear;
    -moz-transition: color 2s linear;
}
.rCade-box
{
	height:50%;
	width:100%;
	opacity:0;
	border: solid gold;
	transition: border 2s linear;
    -webkit-transition: border 2s linear;
    -moz-transition: border 2s linear;
}
/*
rCade
r - #ff7cf4
C - #FFD700
a - #ff616f
d - #6ed0ff
e - #06ff81

*/
